<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'subskills', plugin: 'redmine_subskills' %>
<% end %>

<h2><%= t(:label_skill_matrix_team) %></h2>

<% if @skills.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <% @categories.each do |category| %>
    <% cat_skills = @skills.select { |s| s.category == category } %>

    <h3 class="subskills-category-title"><%= category %></h3>
    <div class="subskills-table-wrapper">
      <table class="list subskills-matrix">
        <thead>
          <tr>
            <th class="skill-name-col"><%= category %></th>
            <% @users.each do |user| %>
              <th class="user-col" title="<%= user.name %>">
                <%= link_to user_skills_subskills_path(user_id: user.id) do %>
                  <span class="sk-avatar"><%= user.name.chars.first(2).join.upcase %></span>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% cat_skills.each_with_index do |skill, i| %>
            <tr class="<%= i.even? ? 'even' : 'odd' %>">
              <td class="skill-name-col"><%= skill.name %></td>
              <% @users.each do |user| %>
                <% cell  = @matrix.dig(user.id, skill.id) %>
                <% level = cell.is_a?(Hash) ? cell[:level] : (cell || 0) %>
                <% prio  = cell.is_a?(Hash) ? cell[:learn_priority].to_i : 0 %>
                <% endorse_count = cell.is_a?(Hash) ? cell[:endorse_count].to_i : 0 %>
                <% title_str = endorse_count > 0 ? t(:label_user_level_endorsements, user: user.name, level: level, count: endorse_count) : t(:label_user_level, user: user.name, level: level) %>
                <td class="sk-level-cell sk-level-<%= level %>" title="<%= title_str %>">
                  <span class="sk-badge"><%= level %></span>
                  <% if prio > 0 %><span title="<%= t(:label_learning_goal) %>" class="sk-star-mini"></span><% end %>
                  <% if endorse_count > 0 %><span title="<%= t(:label_endorsements_count, count: endorse_count) %>" class="sk-endorse-mini" style="margin-left:2px;"><%= endorse_count %></span><% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class="subskills-legend">
    <% max_lvl = Setting.plugin_redmine_subskills['levels_count'].to_i; max_lvl = 5 if max_lvl <= 0 %>
    <% (0..max_lvl).each do |lvl| %>
      <span class="sk-legend-item sk-level-<%= lvl %>"><%= lvl %> – <%= SubskillUserSkill.level_label(lvl) %></span>
    <% end %>
  </div>
<% end %>
