<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'subskills', plugin: 'redmine_subskills' %>
<% end %>

<h2>Skills</h2>
<% current_tab = :katalog %>
<%= render partial: 'subskills/tabs', locals: { current_tab: current_tab } %>

<h3 class="subskills-category-title">Kompetenz-Katalog</h3>
<% @categories.each do |cat| %>
  <h4 class="sk-cat-heading"><%= cat %></h4>
  <table class="list sk-table-mb">
    <tbody>
      <% @skills.select { |s| s.category == cat }.each_with_index do |skill, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd' %>">
          <td class="sk-cat-name-col"><%= skill.name %></td>
          <td class="sk-cat-desc-col"><%= skill.description.presence || '–' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3 class="subskills-category-title">Rollen-Katalog</h3>
<% @role_cats.each do |cat| %>
  <h4 class="sk-cat-heading"><%= cat.sub(/\A[A-Z]\.\s*/, '') %></h4>
  <table class="list sk-table-mb">
    <tbody>
      <% @roles.select { |r| r.category == cat }.each_with_index do |role, i| %>
        <tr class="<%= i.even? ? 'even' : 'odd' %>">
          <td class="sk-role-name-col">
            <%= link_to role.name, subskills_role_path(role) %>
          </td>
          <td class="sk-role-desc-col">
            <% req_count = role.requirements.select { |r| r.importance > 0 }.count %>
            <%= req_count %> Kompetenz-Anforderungen
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
